model = "gpt-5.2"
model_reasoning_effort = "xhigh"

[otel]
exporter = "none"
trace_exporter = "none"
metrics_exporter = "none"

[analytics]
enabled = false

[model_providers.openai]
name = "OpenAI"
base_url = "https://api.openai.com/v1"

http_headers = {
  "OpenAI-Service-Tier" = "priority",
  "X-Custom-Client"     = "prateek-codex/1.0"
}

[projects."/Users/prateek/code/openai"]
trust_level = "trusted"

[projects."/Users/prateek/dotfiles"]
trust_level = "trusted"

[projects."/Users/prateek/code"]
trust_level = "trusted"

[projects."/Users/prateek/code/chronosphere-openai"]
trust_level = "trusted"

[projects."/Users/prateek"]
trust_level = "untrusted"

[projects."/Users/prateek/code/github.com/prateek/codex-transcripts"]
trust_level = "trusted"

[projects."/Users/prateek/experiments/marimo-feature-playground"]
trust_level = "trusted"

[features]
web_search_request = true
unified_exec = true
shell_snapshot = true

[notice.model_migrations]
"gpt-5.2" = "gpt-5.2-codex"
