<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AutoRehide</key>                    <true/>
  <key>CanToggleAlwaysHiddenSection</key>  <true/>
  <key>CustomIceIconIsTemplate</key>       <false/>
  <key>EnableAlwaysHiddenSection</key>     <false/>
  <key>HideApplicationMenus</key>          <true/>
  <key>IceBarLocation</key>                <integer>0</integer>
  <key>ItemSpacingOffset</key>             <real>0.0</real>
  <key>RehideInterval</key>                <real>15.0</real>
  <key>RehideStrategy</key>                <integer>0</integer>
  <key>ShowAllSectionsOnUserDrag</key>     <true/>
  <key>ShowIceIcon</key>                   <true/>
  <key>ShowOnClick</key>                   <true/>
  <key>ShowOnHover</key>                   <false/>
  <key>ShowOnHoverDelay</key>              <real>0.2</real>
  <key>ShowOnScroll</key>                  <true/>
  <key>ShowSectionDividers</key>           <false/>
  <key>TempShowInterval</key>              <real>15.0</real>
  <key>UseIceBar</key>                     <false/>
</dict>
</plist>
