<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>appearanceMode</key> <string>system</string>
  <key>browserHostWhitelist</key>
  <string>chatgpt.com
google.com
gmail.com
anthropic.com
openai.com</string>
  <key>browserThemeMode</key> <string>system</string>
  <key>shortcut.focusDown</key> <data>eyJjb21tYW5kIjpmYWxzZSwiY29udHJvbCI6dHJ1ZSwia2V5IjoiaiIsIm9wdGlvbiI6ZmFsc2UsInNoaWZ0IjpmYWxzZX0=</data>
  <key>shortcut.focusLeft</key> <data>eyJjb21tYW5kIjpmYWxzZSwiY29udHJvbCI6dHJ1ZSwia2V5IjoiaCIsIm9wdGlvbiI6ZmFsc2UsInNoaWZ0IjpmYWxzZX0=</data>
  <key>shortcut.focusRight</key> <data>eyJjb21tYW5kIjpmYWxzZSwiY29udHJvbCI6dHJ1ZSwia2V5IjoibCIsIm9wdGlvbiI6ZmFsc2UsInNoaWZ0IjpmYWxzZX0=</data>
  <key>shortcut.focusUp</key> <data>eyJjb21tYW5kIjpmYWxzZSwiY29udHJvbCI6dHJ1ZSwia2V5IjoiayIsIm9wdGlvbiI6ZmFsc2UsInNoaWZ0IjpmYWxzZX0=</data>
  <key>shortcut.newSurface</key> <data>eyJjb21tYW5kIjpmYWxzZSwiY29udHJvbCI6dHJ1ZSwia2V5IjoidCIsIm9wdGlvbiI6ZmFsc2UsInNoaWZ0IjpmYWxzZX0=</data>
  <key>shortcut.newTab</key> <data>eyJjb21tYW5kIjp0cnVlLCJjb250cm9sIjpmYWxzZSwia2V5IjoidCIsIm9wdGlvbiI6ZmFsc2UsInNoaWZ0IjpmYWxzZX0=</data>
  <key>shortcut.nextSidebarTab</key> <data>eyJjb21tYW5kIjp0cnVlLCJjb250cm9sIjpmYWxzZSwia2V5IjoiXSIsIm9wdGlvbiI6dHJ1ZSwic2hpZnQiOmZhbHNlfQ==</data>
  <key>shortcut.nextSurface</key> <data>eyJjb21tYW5kIjp0cnVlLCJjb250cm9sIjpmYWxzZSwia2V5IjoiXSIsIm9wdGlvbiI6ZmFsc2UsInNoaWZ0Ijp0cnVlfQ==</data>
  <key>shortcut.prevSidebarTab</key> <data>eyJjb21tYW5kIjp0cnVlLCJjb250cm9sIjpmYWxzZSwia2V5IjoiWyIsIm9wdGlvbiI6dHJ1ZSwic2hpZnQiOmZhbHNlfQ==</data>
  <key>shortcut.prevSurface</key> <data>eyJjb21tYW5kIjp0cnVlLCJjb250cm9sIjpmYWxzZSwia2V5IjoiWyIsIm9wdGlvbiI6ZmFsc2UsInNoaWZ0Ijp0cnVlfQ==</data>
  <key>sidebarActiveTabIndicatorStyle</key> <string>solidFill</string>
  <key>sidebarAppearanceDefaultsVersion</key> <integer>1</integer>
  <key>sidebarBlendMode</key> <string>withinWindow</string>
  <key>sidebarBlurOpacity</key> <real>1.0</real>
  <key>sidebarCornerRadius</key> <real>0.0</real>
  <key>sidebarMaterial</key> <string>sidebar</string>
  <key>sidebarPreset</key> <string>nativeSidebar</string>
  <key>sidebarState</key> <string>followWindow</string>
  <key>sidebarTintHex</key> <string>#000000</string>
  <key>sidebarTintOpacity</key> <real>0.18</real>
</dict>
</plist>
