<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AVDesktopPlaybackControlsControllerShowsDurationInsteadOfTimeRemainingDefaultsKey</key> <true/>
  <key>EnableLauncher</key>                          <false/>
  <key>QuickActionsOffset</key>                      <integer>2</integer>
  <key>SUAutomaticallyUpdate</key>                   <false/>
  <key>SUEnableAutomaticChecks</key>                 <false/>
  <key>Setapp.app-DenyAgentRestartOnCrash</key>      <false/>
  <key>ShouldBlockAiSubscriptionAlertKey</key>       <true/>
  <key>ShouldLoadFinderSyncExtensionOnLaunch</key>   <false/>
  <key>ShouldShowUpToDateAlertIfNeeded</key>         <false/>
  <key>SuppressUninstallationDetection</key>         <false/>
  <key>shouldBlockSoundsKey</key>                    <false/>
  <key>shouldDisableFeedbackWindow</key>             <true/>
  <key>shouldDisableRateRecentAppWindow</key>        <true/>
  <key>shouldShowNewTaglines</key>                   <false/>
</dict>
</plist>
