<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSStatusItem VisibleCC raycastIcon</key>                  <false/>
  <key>commandsPreferencesShowOnlyCustomized</key>               <true/>
  <key>commandsPreferencesShowOnlyEnabled</key>                  <false/>
  <key>emojiPicker_skinTone</key>                                <string>standard</string>
  <key>fileSearch_fileSearchScope</key>                          <string>kMDQueryScopeComputer</string>
  <key>floatingNotes_raycastNotesFormatBarVisible</key>          <false/>
  <key>floatingNotes_raycastNotesWindowAutoresizingEnabled</key> <false/>
  <key>navigationCommandStyleIdentifierKey</key>                 <string>vim</string>
  <key>pageNavigationCommandKeysIdentifierKey</key>              <string>arrows</string>
  <key>popToRootTimeout</key>                                    <integer>15</integer>
  <key>raycastCurrentThemeId</key>                               <string>bundled-sky</string>
  <key>raycastCurrentThemeIdDarkAppearance</key>                 <string>bundled-raycast-dark</string>
  <key>raycastCurrentThemeIdLightAppearance</key>                <string>bundled-raycast-light</string>
  <key>raycastPreferredWindowMode</key>                          <string>compact</string>
  <key>raycastShouldFollowSystemAppearance</key>                 <true/>
  <key>raycastUI_preferredTextSize</key>                         <string>large</string>
  <key>showGettingStartedLink</key>                              <true/>
  <key>themeStudio_appearanceFilter</key>                        <string>dark</string>
  <key>useHyperKeyIcon</key>                                     <false/>
</dict>
</plist>
