<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>appearanceMode</key> <string>dark</string>
  <key>browserHostWhitelist</key>
  <string>chatgpt.com
google.com
gmail.com
anthropic.com
openai.com</string>
  <key>browserThemeMode</key> <string>system</string>
  <key>shortcut.focusDown</key> <data>eyJvcHRpb24iOmZhbHNlLCJjb250cm9sIjp0cnVlLCJjb21tYW5kIjpmYWxzZSwia2V5IjoiaiIsInNoaWZ0IjpmYWxzZX0=</data>
  <key>shortcut.focusLeft</key> <data>eyJjb21tYW5kIjpmYWxzZSwic2hpZnQiOmZhbHNlLCJvcHRpb24iOmZhbHNlLCJjb250cm9sIjp0cnVlLCJrZXkiOiJoIn0=</data>
  <key>shortcut.focusRight</key> <data>eyJzaGlmdCI6ZmFsc2UsImNvbnRyb2wiOnRydWUsIm9wdGlvbiI6ZmFsc2UsImtleSI6ImwiLCJjb21tYW5kIjpmYWxzZX0=</data>
  <key>shortcut.focusUp</key> <data>eyJjb21tYW5kIjpmYWxzZSwia2V5IjoiayIsInNoaWZ0IjpmYWxzZSwiY29udHJvbCI6dHJ1ZSwib3B0aW9uIjpmYWxzZX0=</data>
  <key>shortcut.newSurface</key> <data>eyJjb250cm9sIjp0cnVlLCJjb21tYW5kIjpmYWxzZSwic2hpZnQiOmZhbHNlLCJvcHRpb24iOmZhbHNlLCJrZXkiOiJ0In0=</data>
  <key>shortcut.newTab</key> <data>eyJzaGlmdCI6ZmFsc2UsImtleSI6InQiLCJjb21tYW5kIjp0cnVlLCJvcHRpb24iOmZhbHNlLCJjb250cm9sIjpmYWxzZX0=</data>
  <key>shortcut.nextSidebarTab</key> <data>eyJjb21tYW5kIjp0cnVlLCJjb250cm9sIjpmYWxzZSwic2hpZnQiOmZhbHNlLCJvcHRpb24iOnRydWUsImtleSI6Il0ifQ==</data>
  <key>shortcut.nextSurface</key> <data>eyJjb250cm9sIjpmYWxzZSwib3B0aW9uIjpmYWxzZSwiY29tbWFuZCI6dHJ1ZSwic2hpZnQiOnRydWUsImtleSI6Il0ifQ==</data>
  <key>shortcut.prevSidebarTab</key> <data>eyJrZXkiOiJbIiwic2hpZnQiOmZhbHNlLCJjb250cm9sIjpmYWxzZSwib3B0aW9uIjp0cnVlLCJjb21tYW5kIjp0cnVlfQ==</data>
  <key>shortcut.prevSurface</key> <data>eyJrZXkiOiJbIiwic2hpZnQiOnRydWUsImNvbnRyb2wiOmZhbHNlLCJjb21tYW5kIjp0cnVlLCJvcHRpb24iOmZhbHNlfQ==</data>
  <key>sidebarActiveTabIndicatorStyle</key> <string>solidFill</string>
  <key>sidebarAppearanceDefaultsVersion</key> <integer>1</integer>
  <key>sidebarBlendMode</key> <string>withinWindow</string>
  <key>sidebarBlurOpacity</key> <real>1.0</real>
  <key>sidebarCornerRadius</key> <real>0.0</real>
  <key>sidebarMaterial</key> <string>sidebar</string>
  <key>sidebarPreset</key> <string>nativeSidebar</string>
  <key>sidebarState</key> <string>followWindow</string>
  <key>sidebarTintHex</key> <string>#000000</string>
  <key>sidebarTintOpacity</key> <real>0.18</real>
</dict>
</plist>
