<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AppIntroShown</key>           <true/>
  <key>DevicesListSearchTerm</key>   <string></string>
  <key>HideDockIcon</key>            <true/>
  <key>OnboardingFlow</key>          <string>hide</string>
  <key>TailscaleStartOnLogin</key>   <true/>
  <key>UnstableUpdatesEnabled</key>  <false/>
  <key>appIntroStep</key>            <integer>0</integer>
</dict>
</plist>
