<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AppActivationKeyCode</key>     <integer>49</integer>
  <key>AppActivationModifiers</key>   <integer>2048</integer>
  <key>Bookmarks</key>                <array/>
  <key>BookmarksVisible</key>         <false/>
  <key>ColorScheme</key>              <integer>2</integer>
  <key>ConfirmNoteDeletion</key>      <false/>
  <key>DefaultEEIdentifier</key>      <string>com.microsoft.VSCode</string>
  <key>KeepsMaxTextWidth</key>        <true/>
  <key>QuitWhenClosingMainWindow</key> <false/>
  <key>ShowDockIcon</key>             <false/>
  <key>ShowWordCount</key>            <false/>
  <key>StatusBarItem</key>            <true/>
  <key>TableIsReverseSorted</key>     <true/>
  <key>TableSortColumn</key>          <string>Date Modified</string>
  <key>ToolbarHidden</key>            <false/>
  <key>UserEEIdentifiers</key>
  <array>
    <string>com.apple.TextEdit</string>
    <string>dev.zed.Zed</string>
    <string>com.todesktop.230313mzl4w4u92</string>
    <string>com.microsoft.VSCode</string>
  </array>
  <key>WebKitDeveloperExtras</key>    <true/>
  <key>markupPreviewVisible</key>     <false/>
</dict>
</plist>
