<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>SUAutomaticallyUpdate</key>            <true/>
  <key>SUEnableAutomaticChecks</key>          <true/>
  <key>SUSendProfileInfo</key>                <false/>
  <key>menuLevelBlueLight</key>               <string>less</string>
  <key>menuLevelBrightness</key>              <string>less</string>
  <key>menuLevelCheckForUpdates</key>         <string>less</string>
  <key>menuLevelColorDepth</key>              <string>more</string>
  <key>menuLevelColorMode</key>               <string>more</string>
  <key>menuLevelColorProfile</key>            <string>more</string>
  <key>menuLevelConfigProtection</key>        <string>more</string>
  <key>menuLevelContrast</key>                <string>hide</string>
  <key>menuLevelDDCAdjustments</key>          <string>more</string>
  <key>menuLevelDDCInput</key>                <string>more</string>
  <key>menuLevelDisplayConnect</key>          <string>less</string>
  <key>menuLevelDisplayDisconnect</key>       <string>more</string>
  <key>menuLevelDisplayMode</key>             <string>more</string>
  <key>menuLevelDisplaysAndVirtualScreens</key> <string>less</string>
  <key>menuLevelGroups</key>                  <string>less</string>
  <key>menuLevelImageAdjustments</key>        <string>more</string>
  <key>menuLevelManageDisplay</key>           <string>more</string>
  <key>menuLevelManageVirtualScreen</key>     <string>more</string>
  <key>menuLevelMirror</key>                  <string>more</string>
  <key>menuLevelMove</key>                    <string>more</string>
  <key>menuLevelPIP</key>                     <string>more</string>
  <key>menuLevelQuit</key>                    <string>less</string>
  <key>menuLevelRefreshRate</key>             <string>more</string>
  <key>menuLevelResolution</key>              <string>less</string>
  <key>menuLevelRotation</key>                <string>more</string>
  <key>menuLevelSettings</key>                <string>less</string>
  <key>menuLevelStream</key>                  <string>more</string>
  <key>menuLevelToggles</key>                 <string>more</string>
  <key>menuLevelVideoFilterWindow</key>       <string>less</string>
  <key>menuLevelVirtualScreenConnect</key>    <string>less</string>
  <key>menuLevelVirtualScreenDisconnect</key> <string>more</string>
  <key>menuLevelVolume</key>                  <string>more</string>
  <key>menuLevelXDRPreset</key>               <string>more</string>
  <key>onboardingMenuIcon</key>               <false/>
  <key>onboardingMoreIcon</key>               <false/>
  <key>onboardingSettingsIcon</key>           <false/>
  <key>toolsMenuCollapsed</key>               <false/>
  <key>toolsMoreOptions</key>                 <false/>
</dict>
</plist>
