{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "trailingComma": "none"
      }
    }
  ]
}
